{%  extends 'base.html.twig'   %}
{# <html> #}
	{# <head>
		<meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link rel="stylesheet" href="css/style.css">
         
		    <title>Banque du Peuple</title>

	</head> #}

{% block stylesheets  %}
    <!--link rel="stylesheet" href="css/style.css"-->
    <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>{% endblock %}


{% block body %}
     <img src="img/bplogo.png" class="resize" />
		
               
               
               <nav class="navbar navbar-expand-sm mon-bg-nav">
  <!-- Brand -->
  

  <!-- Links -->
  <ul class="navbar-nav" style="black">
    <li class="nav-item">
      <a class="nav-link" style="color=black;" href="#">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="compte">Gestion Compte</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Virement</a>
    </li>
    

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Ajout Client
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="clientparticulier">Particulier</a>
        <a class="dropdown-item" href="#">Entreprise</a>
       
      </div>
    </li>
  </ul>
</nav>
		</div>
		
			</div>
		       </div>
{% endblock %}
       
		

