<html>
	<head>
		<meta charset="UTF-8">
		<title>Banque du Peuple</title>
		<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/style.css"/>
		
		<style>
			h1{ 
                color: #00C3C7;
    
                
			}
		</style>
	</head>
	<body>
		<img src="{$url_base}public/image/bplogo.png" class="resize" />
		<div class="nav navbar navbar-default navbar-fixed-top"></div>
			<ul class="nav navbar-nav">
                <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
                <nav>
                    <li><a href="{{''}}">Accueil</a></li>
                    <li><a href="{{''}}Clientparticulier/index">Liste Client </a></li>
                    <li><a href="{{''}}">Gestion Compte </a></li>
                    <li>
                        <a href="{{''}}">Ajout Client </a>
                        <ul>
                                <li><a href="{}">Particulier</a></li>
                                <li><a href="{}">Moral</a></li>
                        </ul>
                    </li>
                    <li><a href="{}">Virement</a></li>
                        
            <!-- </ul> -->
                </nav>
		</div>
		
			</div>
		       </div>
		
	</body>
</html>
		
